main {
    display: grid;
    grid-template-areas: 
            "cr"
            "cg"
            "cy";
            gap: 20px; 
            justify-items: center; 
            align-items: center; 
}
.cuber {
  background-color: red;
  height: 100px;
  width: 100px;
  grid-area: cr;
  margin: 10px auto;
  position: relative;
  transition: transform 2s;
} 
.cubeg {
  background-color: green;
  height: 100px;
  width: 100px;
  grid-area: cg;
  margin: 10px auto;
}
.cubey {
  background-color: yellow;
  height: 100px;
  width: 100px;
  grid-area: cy;
  margin: 10px auto;
}
.cuber:hover {
    transform: translateY(35vh) rotateX(360deg) rotateY(180deg) scale(1.5) ;
    background-color: black;
}